.flex-0{
    /* flex-grow, flex-shrink, flex-basis */
    flex: 0;
}

.flex-1{
    /* flex-grow, flex-shrink, flex-basis */
    flex: 0, 1, 100px;
}

.flex{
    flex-grow: 1;
    flex-shrink: 1;
    flex-grow: 0;
}

.wrap{
    flex-wrap: wrap;
}

.order .item3{
    order: 5;
}

.align-self .item5{
    align-self: auto;
}

.align-self.start .item3{
    align-self: flex-start;
}

.align-self.end .item3{
    align-self: flex-end;
}

.align-self.center .item3{
    align-self: center;
}

.align-self.stretch .item3{
    align-self: stretch;
}