/* seletor:pseudo-classe {
    propriedade: valor;
} */

/* p:first-child{
    color: aquamarine;
}

p:last-child{
    color: red;
}

p:not(.padrao){
    color: yellow;
}

li:nth-child(even){
    color: blueviolet;
} */

li:nth-last-child(1){
    color:blue;
}

p:only-child{
    color:green;
}