* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: square inside url('./images/icone.png');
    background-color: orange;
    /* list-style-image: url('./images/icone.png'); */

}

ul li {
    border: 1px solid black;
    padding: 20px;
}

ol {
    list-style: square inside url('./images/icone.png');
    background-color: paleturquoise;
    /* list-style-image: url('./images/icone.png'); */

}

ol li {
    border: 1px solid black;
    padding: 20px;
}