/* --- MINHA VERSAO ---  */

/* .container {
    display: flex;
    padding: 130px 20px;
    flex-wrap: wrap;
}

.container li {
    margin: 10px;
} */


/* --- VERSÃO DOS PROFESSORES ---  */

html {
    font-family: 'Public Sans', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.pinturas {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.pinturas .pintura {
    width: 335px;
    height: 431px;
    position: relative;
}

.pinturas .pintura img {
    width: 100%;
}

.pinturas .pintura .informacoes {
    position: absolute;
    color: #FFFFFF;
    bottom: 40px;
    left: 20px;
}

.pinturas .pintura .informacoes .titulo {
    font-size: 30px;
    margin-bottom: 8px;
}

.pinturas .pintura .informacoes .titulo .subtitulo {
    font-weight: 300;
    font-size: 17px;
}