/* Efeito Cascata */

/* .container-cascata {
    background-color: aqua;
}

.container-cascata {
    background-color: orange;
} */



/* Especificidade */

#meu-paragrafo {
    background-color: violet;
}

.container-especificidade p {
    background-color: chartreuse;
}

p {
    background-color: lightskyblue;
}